* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.woff2') format('woff2'),
         url('fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #050542;
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    height: 100vh;
    margin: 0;
}

h1 {
    color: #67E5BF;
    margin-top: 20px; 
}

ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

section {
    width: 80vw;
    border: solid #67E5BF;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
}

section img {
    width: 40%;
}
